////////////////////////////////////////////////////////////////////////////////
// Imports external font library
////////////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

////////////////////////////////////////////////////////////////////////////////
// Imports the Variables, Mixins & Functions
////////////////////////////////////////////////////////////////////////////////

@import 'functions';
@import 'vars';

////////////////////////////////////////////////////////////////////////////////
// Imports any extra SASS Libraries
////////////////////////////////////////////////////////////////////////////////
@import './libraries/floatLabel';

#end {
  form {
    text-align: center;
    width: 100%;
    max-width: 20rem;
    font-size: 1.8rem;

    // Override floatLabel default colours
    input,
    select,
    textarea {
      width: 100%;
      background-color: color(light);
      margin-bottom: 1rem;

      &:focus {
        border-color: color(highlight);
      }
    }

  }
}
